a{
	color:#000;
}
html h1{
	font-size: 30px;
}
html h2{
	font-size: 23px;
}
html label{
	font-weight:200;

}
html .woocommerce input.button, html .woocommerce button.button, html .woocommerce a.button{
	border-radius: 0;
	border:none!important;
	outline: none;
}
html .woocommerce-order-pay .order_details a.button{
    width: auto;
    padding: 11px;
}
*{
font-family: 'Roboto Condensed', sans-serif!important;
}
html body {
	font-family: 'Roboto Condensed', sans-serif!important;

    margin-bottom: 0px;
    height:100%;
}

*:active, *:focus{
	border:0;
	outline:0!important;
}
@media (min-width: 1200px){
	.container {
    width: 1200px;
}
.inline-block{
	display:inline-block;
}
}
h1, h2, h3{
	text-transform: uppercase;
	color:;
}
/*header*//*header*//*header*/
	/*header*//*header*//*header*/
#top-navigation{
	border:none;
	background-color: #F2F2F2;
	    min-height: 45px;

}
#menu-menu-principal{
}
#menu-menu-principal .menu-item{
}
.navbar-collapse{
	padding-left: 0!important;
}
#main-navigation li.menu-item:first-child a{
	padding-left:0;

}
.carrinho-menu div.carrinho-cont{
	padding:13px;
}
main.col-sm-12, #wrapper{
	padding:0!important;
}
.logo{
	margin:35px 0 0;

}
#menu-menu-topo{
	float:right;
	text-transform: uppercase;

	
}
#menu-menu-topo.navbar-nav>li>a {
    padding-top: 10;
    padding-bottom: 10px;


}
.carrinho-cont{
	background-color: #FCEA0D;
}
.carrinho-menu div{
	padding:10px;
}
#top-navigation {
	height:45px;
	margin-bottom: 0;
	border-radius: 0;
}
#menu-menu-topo a{
	font-size: 12px;
    font-weight: 500;
    color: #4C4C4C;
}
#menu-menu-topo .menu-item{
	border-left: solid #4C4C4C 1px;
}
.logo img{
	margin: 0 0 0 30px;
    width: 190px;

}
#header .container{
	margin-bottom:0;
}
#header .container #main-navigation{
	background-color:#fff;
	border: none;
   margin: 33px 0;

}
#main-navigation a{
	text-transform: uppercase;
	font-weight:500;
	font-size: 13px;
}
#main-navigation .dropdown-menu a{
	font-weight: 200;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: -19px!important;
    border: none;
    box-shadow: none;
}
.dropdown-menu>li>a {
    padding: 3px 15px!important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	text-decoration: underline;
	background-color: #fff!important;
}
.navbar-main-navigation {
	position: relative;
}
#navbar-search{
    box-shadow: none;
    border-radius: 0;
    padding: 10px 0;
    border: none!important;
    border-bottom: solid 1px #4C4C4C!important;
    transition: border 0.3s;
    margin-bottom: 10px;
    padding-left: 5px;
    font-weight: 700;
    padding-right: 14px;


}
::-webkit-input-placeholder {
	color:#fff;
	font-weight:500;
}

:-moz-placeholder { /* Firefox 18- */
	color:#fff;
	font-weight:500;
}

::-moz-placeholder {  /* Firefox 19+ */
	color:#fff;
	font-weight:500;
}
:-ms-input-placeholder {
	color:#fff;
	font-weight:500;
}
input::-webkit-input-placeholder {
     color: black; /*Change the placeholder color*/
     opacity: 1	; /*Change the opacity between 0 and 1*/
}
.navbar-main-navigation  button.btn{
	border:none;
    bottom: 20px;
    position: absolute;
    right: 0;
    background-color: transparent;
}
	/*header*//*header*//*header*/
	/*header*//*header*//*header*/

.legenda-slider:nth-child(2){
	background-color: transparent;
}
.legenda-slider{
	width: 100%;
    text-align: center;
    height: 55px;

    background: #FCEA0D;
    margin: 0 auto;
    max-width: 1150px;
    padding: 14.5px 0;
    text-transform: uppercase;
}
#slider-1 a{
	text-decoration: none;
}
#slider-1 .texto-slider{
	width:40%;
	position:absolute;
    margin: 50px 100px;
	color:#fff;
}
#slider-1 .texto-slider h1{
	font-size: 75px;
	color:#fff;
	text-transform:uppercase;
}
.comprar-slider{
	color:#fff;
	border:solid #fff 1px;
	text-transform:uppercase;
	background-color:transparent;
	margin-top: 30px;
	font-size: 20px;
    padding: 13px 40px;
    border-radius: 0;
}
#slider-1 .owl-controls{
	position:absolute;
	bottom:50px;
	left:50%;
	-webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);

}
#slider-1  .owl-controls .owl-page span{
	background-color:transparent;
	    border-radius: 100px;
   	 border: 2px solid #fff;
        opacity:1;


}
#slider-1 .owl-controls .owl-page.active span{
	background-color:#404041;
	border:none;
}
#slider-2{

}
#slider-1 .owl-wrapper-outer{
	border-bottom: solid 2px #FCEA0D;
}
#slider-2  .borda{
	min-width:100%;
	height:100%;
	position:absolute; 
	
}
.slide-2:hover {
    

}
.slide-2 h1, .slide-2 h2, .slide-2 h3, .slide-2 h4, .slide-2 h5, .slide-2 h6{
	position: absolute;
	bottom: 43px;
	left: 55px;
	color:#fff;
	/*font-size: 30px;*/
	text-transform: uppercase;
	font-weight:200;
}

#slider-3{
	text-transform: uppercase;
}
#slider-3 p {
    margin: 0 15px 10px;
}
#slider-3 a{
	color: #000!important;
}
#slider-3 a:hover{
	text-decoration: none;
}
#slider-2 .nav-slider, #slider-3 .nav-slider, #slider-3 .prev-slider-3{
	
	background-color:#000;
	color: #FFF;
    height: 20px;
    opacity:1;
    display: block;
}
#slider-2 .owl-controls .owl-buttons > div, #slider-3 .owl-controls .owl-buttons > div{
	width:55px;
	height:55px;
    padding: 10px;
    display: inline-block;
    zoom: 1;
    margin: 0;
    font-size: 12px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #000;
    opacity:1;
    text-align: center;

}
.owl-theme .owl-controls .owl-buttons div{
	    /*margin: 8px 5px!important;*/

}
 .owl-prev{
	margin-right: 3px!important;
	}
#slider-2 .prev-slider-2, #slider-3 .prev-slider-3{
	background: url('../images/seta-esq.png');
	background-repeat:no-repeat;
	background-size: contain;
    background-position: center;

	float:left;
}
#slider-2 .owl-next{
		margin-left:1px!important;

}
#slider-2 .owl-buttons, #slider-3 .owl-buttons{
    position: absolute;
    top: -55px;
    right: 10px;
    }
#slider-2 .prox-slider-2, #slider-3 .prox-slider-3{
	background: url('../images/seta-esq.png');
	background-repeat:no-repeat;
	background-size: contain;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    float:right;

}
#slider-3 .texto-slider{
	position: absolute;
	width: 100%;
	text-align: center;
}
#slider-3{
	margin-top:20px!important;
	/*margin-bottom: 45px!important;*/

}
#slider-3 .owl-controls {
    margin-top: 0px;
    text-align: center;
}
#slider-3 .owl-buttons{
	top:initial;
}
#slider-2 .owl-prox{

}
#slider-3 {
	color:#000!important;
}
.row{
   margin: 0 auto!important;
   padding: 0 10px;
}
.lista-produtos{
	padding:0;
}
.col-sm-3.produto, .col-sm-4.produto{ 
	margin:10px 0 10px;
	padding-left:10px;
	padding-right: 10px;
}
.produto-fundo{
	background-color:#F2F2F2;
	padding-top:15px;
}
.produto-fundo h4{
	margin:  0 15px;
    height: 70px;

}

.produto-fundo h4 a, .produto-fundo h4 a:hover{
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.produto p{
    font-size: 12px;
    margin:0 15px 0;
        padding-bottom: 10px;


}
	.produto .amount{
	background-color:#FCEA0D;
	padding: 4px 11px;
    display: inline-block;
    width: 100%;
    text-align:center;
    /*margin-left: -4px;*/
    font-size: 18px;


}
.price .amount:nth-child(2){
	width:33%;
}
.produto ins, .produto del{
	text-decoration:none;
	float:left;
	width: 33%;
}
.produto .amount span{
	display:none;
}
.produto del{
	width:34%;
}
.produto .price{
	position:absolute;
	font-weight: 500;
    bottom: 0;
    right: 0px;
    width: 100%;
    font-weight: bolder;


}
.sem-bold .amount{
	background-color: #2eb8d2
}
.sem-bold{
	font-weight: 200;
}
.produto-home {
	position:relative;
}
.produto .price del .amount{
    text-decoration: line-through;
	background-color:#E5332A;
}
.produto-imagem{
	position:relative;
}
.produto:nth-child(4n+1){
	/*clear:left;*/
}
.tax-product_cat .produto:nth-child(4n+1), .archive .produto:nth-child(4n+1){
	clear:initial;
}
.tax-product_cat .produto:nth-child(3n+1), .archive .produto:nth-child(3n+1){
	/*clear:left;*/
}
.produto .quantity{
	display:inline-block;
    width: 60%;
    float: left;
}
.single-product .quantity input, .produto .quantity input, html .cart_item .quantity input{
	width:30px!important;
	height: 30px;
	text-align: center!important;
    margin: 0!important;
    color:#4D4D4D;
    border: none!important;
    float: left;


}
.produto button{
	border:none;
	border-radius: 0;
	margin:0;
	float: left;
}
.single-product .quantity input::-webkit-outer-spin-button,
.single-product .quantity input::-webkit-inner-spin-button,
.produto input::-webkit-outer-spin-button,
.produto input::-webkit-inner-spin-button,
.cart_item input::-webkit-outer-spin-button,
.cart_item input::-webkit-inner-spin-button {
	display: none;
}
.produto .qty,.single-product .qty,.cart_item .qty{
	border:none;
	margin:0;
	background-color:#FCEA0D;
	box-shadow: none;
	color:#4D4D4D;
	
}
.control-prod{
	height: 30px;
	width: 30px;
	border:none;
    border-radius: 0;

}
.produto-fundo a.button, .archive .produto .add_to_cart_button, .produto .button.product_type_variable, .produto .add_to_cart_button, html .woocommerce #respond input#submit, .woocommerce a.button, html  .woocommerce button.button, html  .woocommerce input.button, .related.products .add_to_cart_butto{
	background-color:#000!important;
	color: #fff;
	height: 30px;
	font-size: 10px;
    text-transform: uppercase;
    margin-left:0;
    float: right;
    width: 40%;


}
.produto-fundo a.button, .produto .button.product_type_variable{
	float:right;
    width: 58%;
    text-align: center;
    padding: 9px;

}
.produto .price{
	width: 100%;
	/*background-color: #FCEA0D;*/
}

.produto .sociais, .single-product .sociais{
	background-color: #FCEA0D;
	height:30px;
	display: inline-block;
    width: 42%;
    text-align: center;
    float: left;

}
.produto .sociais a:hover{
	text-decoration: none!important;
}
.produto-home.produto{
	margin-top: 20px;
}
.produto .sociais img, .single-product .sociais img{
	height: 18px;
	margin:6px 3px;

}

.produto form{
	display:inline-block;
	float:right;
    width: 58%;

}
html #footer{
	position: relative;
	    background-color: #E5332A;
	    width: 100%;
    height: initial;
    color:#fff;
    text-align: left;
    padding:10px 30px;


}
#footer .row .col-sm-3:nth-child(3){
    padding-left: 63px;
}
#cadastro-footer h3{
	text-transform: uppercase;
	margin:0;
	padding:25px 0;
	color:#fff;
	text-align: center;
	font-weight:100;
}
#cadastro-footer span{
	font-weight: 400;
}
#cadastro-footer{
	background-color: #20B8D4;
}
#cadastro-footer .wpcf7{
    vertical-align: middle;
	display:inline-block;
}
#cadastro-footer .wpcf7-text{
	width:283px;
	border:none;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	height:30px;
    vertical-align: bottom;
    margin-left: 30px;

}
#cadastro-footer >div{
	text-align: center;
}
#cadastro-footer .wpcf7-submit{
	width: 130px;
	margin-left:20px;
	background: #000;
	border:none;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color:#fff;
	height: 30px;
}
#fale{
	color:#FCEA0D;
	font-size:13px;
}
#footer h2{
	font-size:23px;
}
#footer h3{
	font-size:18px;
	font-weight: 100;
}
#menu-menu-suporte-footer, #menu-menu-footer-conta, #footer ul, #sidebar #menu-menu-footer-suporte, #sidebar #menu-menu-footer-conta{
	list-style: none;
	padding: 0;

}
#menu-menu-suporte-footer a, #menu-menu-footer-conta a, #footer ul a{
	color:#fff;
}
#footer p, #footer ul li a{
    font-family:'Roboto', sans-serif!important;

	font-size: 13px;
    font-weight: 100;}
#footer input, #footer textarea {
	width: 100%;
	border:none;
	box-shadow: none;
    font-size: 14px;
    color: #000;
    padding: 10px;


}
#footer textarea {
	height:112px;
}
#footer input[type="submit"]{
	width:initial;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	width:130px;
	padding:10px 0;
	border-radius: 0
}
#footer .sociais img{
	margin:0 8px;
}
#footer .rodape{
	text-align:right;
	color:#FCEA0D;
}
#footer ul li{
	    height: 16px;

}#sidebar{}
/*///tax///*//*///tax///*/
.tax-product_cat .produto .sociais, .archive .produto .sociais {

    /*background-color: #FCEA0D;
    height: 30px;
    display: inline-block;
    width: 105px;
    text-align: center;*/
}
#titulo-tax{
	font-size: 19px;
	font-weight: 500;
	text-transform: uppercase;
	margin-left:10px;
}

#menu-menu-categorias ul,#menu-menu-categorias{
	text-indent: none;
	padding: 3px;
	list-style: none;
	text-transform: uppercase;

}
#menu-menu-categorias a:hover{
	color: #E5332A;
}
#menu-menu-categorias a{
	text-transform: uppercase;
    font-size: 15px;
	text-decoration: none;
	color: #4C4C4C;
}
#menu-menu-categorias ul a{
	font-weight: 200;
}
#sidebar{
	padding-left: 45px;
}
/*///tax///*//*///tax///*/
/*carrinho*/
/*carrinho*/
/*carrinho*/
html .woocommerce-cart table.cart img {
    width: 75px;
}
.woocommerce-cart .product-thumb-nome{
	padding: 20px 12px !important;
}
.woocommerce-cart .product-name{
	vertical-align: middle;
}
.woocommerce-cart .product-thumbnail{
	margin-right: 10px
}

/*carrinho*/
/*carrinho*/

.single-product .control-prod, .cart_item .control-prod{
	background-color: #F2F2F2;
    vertical-align: top;
    float: left;

}
/*carrinho*/
/*carrinho*/



/*menu*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, #menu-menu-categorias a.ativo{
	background-color: transparent!important;
	color: #E5332A!important;
}.current-menu-item, .current-menu-ancestor,  .current-menu-parent> a{
	text-decoration: underline;
	font-weight: 900!important;
	color: #000!important;
}
#menu-menu-categorias a.ativo{
	text-decoration: underline;
	font-weight: 900!important;
}
.pin-btn{
	cursor: pointer;
}
/*menu*/

.woocommerce-cart.woocommerce-page #content table.cart td.actions #coupon_code{
	width:initial;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
	width:100%!important;
}

.woocommerce-cart input[type="radio"], .woocommerce-cart  input[type="checkbox"],.woocommerce-checkout input[type="radio"], .woocommerce-checkout  input[type="checkbox"] {

    margin: 4px 30px 0;
    margin-top: 1px \9;
    line-height: normal;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
	height: initial;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
	background-color: #FCEA0D!important;
	color: #000!important;
	float: right;
}
.woocommerce-cart a.remove{
	display: block!important;
    width: initial!important;	
}
.product-thumb-nome{
	width:300px;
}
.order-total td{
	text-align: right;
}
.shop_table {
	font-size: 16px;

}
.woocommerce .product-subtotal{
	font-weight: 600;
}
.table>thead>tr>th, .page-content table>thead>tr>th, .entry-content table>thead>tr>th, .widget_calendar #wp-calendar>thead>tr>th{
/*	border-bottom:none!important;
	border-top: none!important;*/
}
.woocommerce table.shop_table th{
	color: #4F4F4F;
	text-transform: uppercase;
	font-weight: 200!important;
/*	border:none!important;
*/}
.woocommerce-cart table.cart td, .woocommerce-cart table.cart th {
    vertical-align: middle;
}
.woocommerce-cart table tr{
/*    border-bottom: solid 0.5px rgba(37, 46, 93, 0.18)!important;
*/}
.woocommerce-cart  table.shop_table{
/*	border-collapse: collapse!important;
*/}
.woocommerce-cart .shop_table td, .woocommerce-cart .shop_table th{
	text-align: center;
}
.woocommerce-cart .shop_table th:nth-child(4),.shop_table td:nth-child(4){
		text-align: right;

}
.woocommerce-cart .shop_table th:nth-child(1),.shop_table td:nth-child(1){
	text-align: left;
}
.cart_totals h2{
	display: none;
}
.woocommerce table.shop_table td {
/*    border-top:none!important;
*/}
.order-total td:nth-child(1), 
.cart-discount td:nth-child(2), 
.cart-subtotal td:nth-child(2), 
.shipping td:nth-child(2), 
.actions td:nth-child(2),
.coupon td:nth-child(2), 
.woocommerce-cart .atualizar-carrinho td{

	text-align: right
}
.woocommerce-cart .coupon{

}
.woocommerce-cart .coupon input{
}
.my_account_orders .order-actions a, .button[name="save_account_details"],.button[name="save_address"]{
	width: initial!important;
}

.shop_table_responsive.cart, .shop_table{
	border:none!important;
}
.woocommerce .woocommerce-message,.woocommerce .woocommerce-info {
    border-top-color: #FCEA0D!important;
}
.button.view{
	padding: 10px!important;
}
.voltar-conta{
	    clear: both;
    float: right;
    width: initial!important;
    font-size: 10px!important;
    padding: 10px!important;
    margin-top: 20px!important;
}
.woocommerce-cart .product-name a{
	color:#000!important;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
    /* margin-left: 10px; */
}
.shop_table thead, .woocommerce-checkout .order-total{
	background-color: #F2F2F2;
}
 .shop_table th{
 	border-bottom:none!important;

 }
.order-total strong{
	margin-left:10px;
}
.order-total{
	font-weight: 700;
	font-size: 18px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
 
    padding: 10px 30px!important;
}
.woocommerce-cart table.cart td, .woocommerce-cart .cart-collaterals .cart_totals td, .woocommerce-cart .cart-collaterals .cart_totals th{
	border-top:none!important;
    border-bottom: 1px solid rgba(126, 127, 132, 0.34)!important;
}
.comprar-mais{
    padding: 10px 30px!important;
    background-color: #E5332A;
    color: #fff;
    border-radius: 0;
}
.cart_totals {
	position: relative;
}
#aviso{
	
}
button.comprar-mais:hover {
    color: #fff;
    background-color: #E5332A;
    border-color: #E5332A;
}
button.comprar-mais a{
	color: #fff;
}
button.comprar-mais a:hover{
	text-decoration: none;
}
#compre-avisos{
    margin-bottom: 60px;
    display: block;
    position: relative;
	top: -40px;
}
.woocommerce-info a{
	color:#000;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, html .woocommerce #respond input#submit, .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button{
	background-color: #E5332A!important;
	font-weight:400;
	color: #fff!important;
}
input, textarea{
	box-shadow:none!important;
	border: 1px solid rgba(171, 171, 175, 0.58)!important;
	font-size:16px;
	padding:5px;
}
#ship-to-different-address label{
	font-size: 16px!important;
	font-weight: 200!important;
}
.checkout label{
	font-weight: 200!important;
}
.comprar-slider a{
	color:#fff;
}
.comprar-slider a:hover, .comprar-slider:hover a{
    color: #000;
    text-decoration: none;
}
button:hover {
    color: #fff;
    background-color: transparentr;
    border-color: initial;
}
.summary.entry-summary{
	width: 100%!important;
}
.single-product .onsale{
	display: none;
}
.variation dt, .variation dd{
	display: inline-block;
	float: left;
}
.variation dt{
	/*width: 50%;*/
	clear: left;
	margin-left: 10px
}
.variation dd p{
	margin-left: 5px;
	margin-bottom: 0px
}

/*single product*//*single product*/
/*single product*//*single product*/

.single-product .summary.entry-summary{
	text-transform: uppercase;
}
.single-product .product_title span{
	font-weight: 100;
}
.single-product .entry-summary .amount, .single-product .entry-summary span.amount, html .single-product .entry-summary p.price, .woocommerce-variation-price{
	font-size: 42px!important;
	color: #000!important;
	font-weight: 400!important;
}
.single-product .entry-summary .product_meta{
	opacity: 0.7;
}
/*single product*//*single product*/
/*single product*//*single product*/
 .single-product div.product .entry-summary p.price del, .single-product div.product .entry-summary span.price del {
    text-decoration: none;
    opacity: 1!important;
    margin-right: 0;



}
.single-product .entry-summary del .amount, .single-product .entry-summary del span.amount,.single-product .entry-summary del .amount{
		color: #E5332A!important;

}
.single-product del .amount, .single-product del span.amount, del .amount{
	text-decoration: line-through;
}
.woocommerce div.product .entry-summary p.price del:before, .woocommerce div.product .entry-summary span.price del:before{
content: 'de ';
font-size: 16px;
color:#7E7F84;
top: -15px;


}
.woocommerce div.product .entry-summary p.price del:after, .woocommerce div.product .entry-summary span.price del:after{
font-size: 16px;
color:#7E7F84;
content: ' por';
margin-right: -5px;
top: -15px;


}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins{
	text-decoration: none;
}
.preco, .botao-comprar, #variacoes{
	display: block;
	float: left;

}
#variacoes{
	width: initial;
	margin-right: 20px;
}
.botao-comprar{
	margin-left: 30px;

}
.single .product-type-simple .botao-comprar {
	height:60px;
}
.single .product-type-simple .alt td, .single .product-type-simple .alt th{
	background-color:transparent!important;
}
.single .product-type-simple .botao-comprar form.cart, .single .product-type-simple  .botao-comprar p.cart {
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.single .product-type-simple p.price, .single .product-type-simple span.price{
	margin-bottom: 0;
}
.single-product div.product p.stock{
	margin-bottom: 0!important;
}
.single-product #wc-correios-simulator{
	margin-top:15px;
}
.single-product .cart button.single_add_to_cart_button{
	background-color: #FCEA0D!important;
	color: #000!important;
	border-radius: 0;
	font-weight: 800;
    font-size: 15px;

}
.single-product div.product form.cart div.quantity{
	margin-right: 2px!important;
}
.single-product iframe{
	width:100%!important;
}
.galeria-single-product{
	width: 400px;
    float: left;

}
.video-thumb{
	float: left;
    width: 407px;
    vertical-align: top;
}
.video-thumb iframe, .video-thumb .video-sub{
	vertical-align: bottom;
}
.galeria-single-product .owl-controls {
	position: absolute;
	bottom: 10px;
    width: 100%;

}
.single-product .woocommerce-tabs{
	margin-top:60px;
	clear: both;
}
.single-product div.product form.cart .variations select{
	border:0;
	outline:0;
    vertical-align: top;
}
.single-product div.product form.cart .variations label{
	color:#000;
}
.product-type-variable .entry-summary del{
	/*display: none;*/
}
.product-type-variable .preco{
	width:100%;
}
.product-type-variable .amount, .product-type-variable span.amount, html .product-type-variable p.price{
	font-size:15px!important;
}
.woocommerce-variation-price span.amount{
	font-size: 42px!important;
	color: #000!important;
	/*top: -15px;*/
    position: relative;

}
.woocommerce-variation-price .price{
	vertical-align:top;
}
.woocommerce-variation-add-to-cart.variations_button{}
.woocommerce table.shop_attributes th {
    padding: 8px 0!important;
}
#descricao-ficha h2{
	font-size: 16px;
	color: #7E7F84;
	text-transform: uppercase;
}
#descricao-ficha p{
	font-size: 14px;
	color: #7E7F84;
}
#descricao-ficha th{
	font-size: 14px;
	color: #4C4C4C;
	font-weight: 300;
}
#descricao-ficha td, #descricao-ficha td p{
font-size: 14px;
	color: #000;	
	font-style: normal;
}
#descricao-ficha td span{
		font-size: 14px;
	color: #4C4C4C;
	font-weight: 300;
}
.single-product #slider-2 .owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    top: -54px;
    right: 10px;
}
.single-product #slider-2 .owl-buttons{
    position: absolute;
    right: 10px;

}

.galeria-single-product  .sociais {
    position: absolute;
  	width: 100px;
    z-index: 9999;
}
.single-product .product-type-variable .preco{
	/*display: none;*/
}
.single-product  .single_add_to_cart_button{
	width: initial;
}
.single-product .product-type-variable  .woocommerce-variation-price span.price {
    color: #77a464;
    font-size: 1.25em;
    position: relative;
    top: -25px;
}
.product-type-simple  #wc-correios-simulator{
	width: 100%;
}
.woocommerce div.product .related p.price, .woocommerce div.product .related span.price{
	color:initial;
}
.woocommerce div.product .related span.price del {
     opacity:1; 
    background-color: #E5332A;
}
html .woocommerce .related button.button{
	background-color: #000!important;
	border-radius: 0!important;
}
.single-product #slider-2 .owl-theme .owl-controls {
    margin-top: 10px; 
    text-align: center;
    position: absolute;
    top: -55px;
    right: 10px;
}



.single-product div.product .entry-summary span.price del span{
	text-decoration: line-through!important;
}
#img-fab{
	width:150px;
	text-align: left
}
.wpcf7-response-output{
	margin-top: 0!important;


}
#cadastro-footer .wpcf7-response-output{
	    margin-left: 61px;
	    border:none;
	    color: #fff;
	}
 #cadastro-footer div.wpcf7-validation-errors {
 	display: none!important;
 }
 #cadastro-footer .wpcf7-not-valid-tip{
	display: none;
 }
.rodape.container{
	padding-right: 8px;
}
#top-navigation{
	position: fixed;
	top:0;
	z-index: 9999;
}
body{
	margin-top:45px!important;
	display: none;
	}
	html{
		/*background-color: #E5332A;*/
}
.pp_woocommerce .ppt{
	display: none;
	visibility: hidden;
}
.related.products h2{
	background-color:#FCEA0D; 
	text-align:center;
	    padding: 8px;

}
#footer .wpcf7-response-output {
	border:none;
}
.tax-product_cat .lista-produtos  .col-md-3, .post-type-archive-product .products  .col-md-3, .search .busca-produtos .col-md-3, .single-product .related.products .col-md-3{

	width:33%;
}
.tax-product_cat #content, .post-type-archive-product #content, .single-product #content { 
	padding: 0;
}
.single-product .related div.quantity{
	margin:0!important;
}
.single-product div.product .related form.cart div.quantity{
	margin:0!important;
}
@media (min-width: 768px){
	.woocommerce-cart main, .woocommerce-checkout main, .woocommerce-account main{
	width: 75%;
	}	
	.slide-2:hover .borda{
	-webkit-box-shadow:inset 0px 0px 0px 10px #FCEA0D!important;
    -moz-box-shadow:inset 0px 0px 0px 10px #FCEA0D!important;
    box-shadow:inset 0px 0px 0px 10px #FCEA0D!important;
}

}
html .woocommerce table.my_account_orders .order-actions .button {
 
    padding: 10px;
}
.woocommerce-account .addresses .address{
	border: 1px solid rgba(0, 0, 0, 0.22);
    padding: 20px;
    margin-bottom: 60px;
}
#content{
	margin-bottom: 40px
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
	background-color: transparent!important;
}
.woocommerce-checkout #payment ul.payment_methods li{
	width: 20%;
	float: left;
	vertical-align: top;
}
html .woocommerce form.checkout_coupon{

    border: none;
    padding: 5px;
    text-align: left;
    border-radius: 0;
    background: #20B8D4;
}
html .woocommerce form.checkout_coupon .form-row{
	margin-bottom: 0;
}
html .woocommerce form.checkout_coupon .button{
	background-color: #000!important;
}
html .checkout_coupon span, html .checkout_coupon input, html .checkout_coupon p, html .checkout_coupon .button{
	float:right;
	width: initial!important;
	vertical-align: middle;
	padding: 5px;
	color: #fff;
	margin-right: 20px;
}
html .checkout_coupon input{
	color:#000;
}
html .checkout_coupon span:first-child{
	float:left;
}
html .checkout_coupon p.form-row-first{
	width:80%!important;
}
html .checkout_coupon{
	display: block!important;
}
.woocommerce-checkout h1, html .search h1, .search main header{
	margin-top:0;
}
html .woocommerce-checkout #payment{
	background-color: #fff
}
.about_paypal{
	display: none;
}
html .woocommerce-checkout #payment div.payment_box:before{
	display: none;	
}

html .woocommerce-checkout #payment div.payment_box{
	background-color:#fff!important;
	border: 1px dashed #7E7F84;
    margin-top: -6px!important;
    position: absolute;
    left: 29px;
    width: 800px;
    z-index: 9;

}
html .wc_payment_method input.input-radio{
	display: none;
}
html .wc_payment_method  label{
	padding:20px;
	padding-bottom: 40px;

}
html .wc_payment_method input[type="radio"]:checked+label{
	border: 1px dashed #7E7F84;
	position: relative;
	z-index: 99;
	background-color: #fff;
	border-bottom: 0;
	height: 121px;

}
html #add_payment_method #payment ul.payment_methods li, html .woocommerce-checkout #payment ul.payment_methods li {
    height: 120px;
}
html .wc_payment_methods.payment_methods{
	/*height: 200px;*/
}	
#conteudo-pagamento{
	border: 1px dashed #7E7F84;
	clear: both;
	padding:20px;
}

.container{
	margin-bottom: 40px;
}
form .busca:hover {
	background-color: transparent;
}
.archive .produto:nth-child(4n+1) {
 /*clear:initial;*/
}
#top-navigation .inline-block{
	display: inline-block;
}
#wpadminbar{
	display: none;
}
.alm-btn-wrap #load-more{
	visibility: hidden;
    background: transparent;
    color: #000;	

}
.search .alm-btn-wrap #load-more{
	visibility: visible;
}
.alm-btn-wrap #load-more.loading{
	visibility: visible;
}
.alm-btn-wrap{
	
	clear:both;
	width:100%;
}
.ajax-load-more-wrap.blue button.alm-load-more-btn, .ajax-load-more-wrap.blue button.alm-load-more-btn:hover, .ajax-load-more-wrap.blue button.alm-load-more-btn.done {
    background-color: #E7332C!important;
}
#menu-menu-categorias{
	display: inline-block;
	margin-left: 50%;
    transform: translate(-50%);
}
#parcelamento{
	margin-top: 0px;
}
#parcelamento b{
	color:#6bcddf;

}

.woocommerce .produto-fundo a.button{
	background-color: #000!important;
	    float: right;

}
.single-product .posted_in a{
	color:#6bcddf;
}
.button{
	text-align: center;
}
.woocommerce-cart .woocommerce .cart .button, .woocommerce .cart input.button {
    width: initial;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
	width: initial;
}
html div.pp_woocommerce .pp_close{
	right:0px;
	top:2px;
}
html .single-product .product_meta{
	margin-bottom: 0;
}
html .single-product .related  span.price .amount{
	font-size: 14px;
	font-weight: 200;
}
.woocommerce-variation.single_variation{
	overflow: visible!important;
}
.single-product  div.product form.cart .single_add_to_cart_button.button, html .single-product #wc-correios-simulator button.button, html .woocommerce .woocommerce-message a.button, html .woocommerce .woocommerce-error a.button, html .woocommerce .place-order input.button, html .woocommerce .return-to-shop a.button  {
	width: initial;
}
#ordem {
	    border: 0;
    float: right;
    outline: 0!important;
    margin-right: 23px;
}
#slider-1 h1, #slider-3 h1{
    font-size: 75px;

}
#slider-1 h2, #slider-3 h2{
	font-size: 60px;
    text-transform: uppercase;

}
#slider-1 h3, #slider-3 h3{
	font-size: 50px;
    text-transform: uppercase;

}
#slider-1 h4, #slider-3 h4{
	font-size: 40px;
    text-transform: uppercase;

}
#slider-1 h5, #slider-3 h5{
	font-size: 30px;
    text-transform: uppercase;

}
#slider-1 h6, #slider-3 h6{
	font-size: 20px;
    text-transform: uppercase;

}

#slider-2 h1{
	font-size:45px;
}
#slider-2 h2{
	font-size: 35px;
}
#slider-2 h3{
	font-size:30px;
}
#slider-2 h4{
	font-size:25px;
}
#slider-2 h5{
	font-size:20px;
}
#slider-2 h6{
	font-size:18px;
}
#sidebar #menu-menu-suporte-footer a, #sidebar #menu-menu-footer-conta a, #sidebar #footer ul a, #sidebar #menu-menu-footer-suporte a{
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    color: #4C4C4C;
}
html .wpcf7-not-valid-tip{
	color:#fff!important;
}
#footer .sociais {
 	background-color: transparent;
    height: 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
    float: left;
    text-align: left;
}
#fundo-modal[modal-estado="ativo"]{
	-ms-transform: translate(0,0);
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
	-webkit-transition: all  ease-out 0.5s;
	    -moz-transition: all  ease-out 0.5s;
	    -o-transition: all  ease-out 0.5s;
	    transition: all  ease-out 0.5s;
}
#fundo-modal{
	-webkit-transition: all  ease-out 0.5s;
	    -moz-transition: all  ease-out 0.5s;
	    -o-transition: all  ease-out 0.5s;
	    transition: all  ease-out 0.5s;
	width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    z-index: 99999;
	-ms-transform: translate(0,-100%);
	-webkit-transform: translate(0,-100%);
	transform: translate(0,-100%);
}
#modal-conteudo{
	width: initial;
}
#modal-conteudo .wpcf7{
	width: initial;
    background: #fff;
    padding: 20px;
    border: 5px solid #FCEA0D;


}
#modal-conteudo .wpcf7 h2{
	margin-top:0;
}
#modal-conteudo .wpcf7-form{
	width: 261px;
}
#modal-conteudo[modal-estado="ativo"]{
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all  ease-out 0.5s;
	    -moz-transition: all  ease-out 0.5s;
	    -o-transition: all  ease-out 0.5s;
	    transition: all  ease-out 0.5s;
	
}
#modal-conteudo .btn-default,#modal-conteudo input[type="submit"], #modal-conteudo input[type="reset"]{
    color: white;
    background-color: black;
    border: none!important;
    border-radius: 0;
}
#ajax-loader{
	position: fixed;
	    top: 25vh;
	    left: 47%;
}
#modal-conteudo a, #modal-conteudo a:hover,#modal-conteudo a:active{
	text-decoration:none;
}
#modal-conteudo .attachment-thumbnail{
	border-radius:200px;
	margin-bottom:30px;
}
#botao-fechar{
    font-weight: 100;
    position: relative;
    right: -20px;
    text-align: right;
    font-size: 35px;
	color:#fff;
}
#modal-conteudo{
    z-index: 9999999;
    top: 50%;
    left: 50%;
    padding: 1% 4%;
    height: auto;
    position: fixed;
    -webkit-transition: all ease-out 0.7s;
    -moz-transition: all ease-out 0.7s;
    -o-transition: all ease-out 0.7s;
    transition: all ease-out 0.7s;
    -ms-transform: translate(0,300%);
    -webkit-transform: translate(0,300%);
    transform: translate(0,300%);
    max-width: 900px;
}
#modal-conteudo img{
    display: block;
    margin: 0 auto;
	max-width:100%;
	max-height: 90vh;
    
}
svg:active, svg:focus{
	outline:none;
}
.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
     padding: 0; 
    font-size: 12px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
}
.pag-modal{
	position:absolute;
	top: 50%;
    
}
.pag-modal.esq{
	left:0;
}
.pag-modal.dir{
	right:0;
}
.pag-modal svg{
	width: 47px;
	    height: 70px;
	}
#legenda{
	text-align:center;
	color:#fff;
}
.single-product .botao-comprar a.encomendarAdd{
	width: initial;
}
.produto-fundo a{
	text-decoration: none!important;
}
#encomenda{
    margin-top: 40px;
    clear: left;
    font-size: 12px;
    opacity: 0.8;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
	color: #000!important;
}
.woocommerce  div.product .produto form.cart, .woocommerce  div.product .produto p.cart{
	margin-bottom: 0;
}
/*resoponsivo*/
/*resoponsivo*/
/*resoponsivo*/
/*resoponsivo*/
/*resoponsivo*/
/*resoponsivo*/
/*resoponsivo*/

@media (max-width: 1200px){
	
.produto form {
 	width: 66%;
}
.control-prod {
    height: 30px;
    padding: 0;

    width: 26px;
    border: none;
    border-radius: 0;
}
.produto .quantity {
   width: 60%; 
}
	.produto .button.product_type_variable, .produto-fundo a.button.encomendarAdd {
    width: 66%;
}
.woocommerce.tax-product_cat a.button{
    /*width: 148px;*/
}
	.produto .add_to_cart_button{
		padding:7px!important;
	}
	.produto .sociais img{
		height:15px;
	}
	.produto .sociais, .tax-product_cat .produto .sociais, .archive .produto .sociais{
	    width: 34%;
	}
	#footer ul li {
     height: initial; 
}
.legenda-slider{
	max-width: 949px
}
.tax-product_cat .produto .quantity .qty {
    width: 21px;
    text-align: center;
}

}
@media (max-width: 992px){
	#sidebar{
		display: none;
	}
	.logo img {
    margin: 0 0 0 30px;
    width: 125px;
}
.search h1, .search h2{
	padding: 0 10px;
}
	.tax-product_cat .lista-produtos .col-md-3, .post-type-archive-product .products  .col-md-3, .single-product .related.products .col-md-3, .search .busca-produtos .col-md-3  {
    width: 100%;
}
	.produto-fundo, .produto-imagem{
		max-width:265px;
		margin: 0 auto;
	}
	.produto .amount {
    
    width: 100%;

}
	.archive .col-md-9{
		width: 100%;
		float: left;
	}

	html .woocommerce-checkout #payment div.payment_box{
		width: 90%;
	}
	html .wc_payment_methods.payment_methods {
    height: 238px;
}
	html .wc_payment_method label {
    padding: 29px;
}
	 .woocommerce-cart a.button.checkout-button, .button.wc-backward, .button.wc-forward{
	 	width: initial!important;
	 }
	 .woocommerce-cart .product-name {
    vertical-align: middle;
    text-align: left;
}
	.tax-product_cat .produto .qty {
    width: 32px!important;
}
.tax-product_cat .produto .add_to_cart_button, .archive .produto .add_to_cart_button{
    /*width: 65px;*/
}
	
	.produto .sociais img {
    height: 20px;
	}
	
	
.legenda-slider{
	max-width: 731px;

}
#slider-1 .texto-slider h1 {
    font-size: 47px;
}
.comprar-slider {
    
    margin-top: 5px;
    font-size: 14px;
    padding: 8px 12px;
}

#slider-1 .texto-slider {
    width: 40%;
    position: absolute;
    margin: 30px 32px;
    color: #fff;
}
.tax-product_cat .produto .quantity .qty {
    width: 28px;
    text-align: center;
}
.woocommerce-cart main, .woocommerce-checkout main, .woocommerce-account main{
		float: left;
	}
	html .woocommerce table.shop_table td {
    padding: 6px 7px;

}
 .produto .quantity input
	 {
   		 width: 34px!important;
   	}

   	.control-prod {
    
    width: 35px;
}
}





/*viweport 768*/
/*viweport 768*/
/*viweport 768*/
/*viweport 768*/
/*viweport 768*/
/*viweport 768*/
/*viweport 768*/
@media (max-width: 768px){
	.woocommerce-cart .product-quantity .quantity{
		float: right;
	}
	.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
	    display: block;
	    text-align: right!important;
	    clear: both;
	    float: none;
	    min-height: 55px;
	}
	.navbar-nav>li>.dropdown-menu {
	    margin-top: 0!important;
	}

	.produto form {
    /*width: 58%;*/
	}
	.control-prod{
	    width: 35px;

	}
	.produto .quantity{
		    width: 60%;

	}
	.produto .sociais, .single-product .sociais {

	    /*width: 42%;*/

	}
	.produto .sociais img, .single-product .sociais img {
	 
	    margin: 6px 3px;
	}
		.single-product #slider-2 .owl-buttons {
	    position: absolute;
	    right: 10px;
	}
	html .single-product button.button, .single-product .button.wc-forward{
		/*width: initial;*/
	}
	html .woocommerce-cart .product-thumb-nome{
		padding: 35px 0 0!important;
		width: 100%;
	}
	.checkout label {
	    font-weight: 200!important;
	    font-size: 12px;
	}
	html .woocommerce-checkout #payment div.payment_box{
		width: 88%;
	}
	html .wc_payment_methods.payment_methods {
	    height: 280px;
	}
	html .checkout_coupon p.form-row-first{
		width: 100%!important;
	}
	.woocommerce form .form-row input.input-text{
		width: 100%!important;
	}
	html .checkout_coupon span{
		float:none!important;
		width: 100%!important;
		text-align: center;
		display: block;
	}
	.variation dt, .variation dd {
	    display: inline-block;
	    float: none;}
		#compre-avisos{
			top: 0;
		}
		.video-thumb, .galeria-single-product{
			max-width: 100%;
			float: none;
			margin:0 auto;
		    clear: both;

		}
	.single-product #content{
		margin:0 20px;
	}

	html .woocommerce table.shop_table_responsive tr:nth-child(2n) td, html .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td{
		background-color: transparent;
	}
	.woocommerce-cart main, .woocommerce-checkout main, .woocommerce-account main{
		float: left;
		    width: 100%;

	}
	.woocommerce .product-thumb-nome:before{
		content: ''!important;
	}
	#top-navigation li a{
		padding-left:10px;
		padding-right:10px;
	}
	#top-navigation {
		width: 100%;
		right:0;
		padding: 0;
	}
	.carrinho-menu div{
		padding: 0px;
	}
	.woocommerce.tax-product_cat a.button{
			width: 158px;
		}
		
	.menu-menu-suporte-footer-container, .menu-menu-footer-conta-container{
		display: inline-block;
	}
	#footer .row .col-sm-3:nth-child(3) {
     	padding-left: 0; 
	}
	#footer .col-sm-3{
		text-align: center;
	}
	#footer .col-sm-3 ul{
		text-align: center;
	}
	.menus-footer {
	    display: inline-block;
	    width: 49%;
	    vertical-align: top;
	}
	.col-sm-3.produto, .col-sm-4.produto {
	    margin: 10px 0 10px;
	    padding-left: 10px;
	    padding-right: 10px;
	    max-width: 300px;
	    display: block;
	    margin: 33px auto;
	}
	html #footer {
	    padding: 10px 6px;
	}
	#contato-footer
	{
		clear:left;
	}
	#cadastro-footer .wpcf7-submit {
	  
	    margin-top: 10px;
	}
	#top-navigation .navbar-nav>li {
	    float: left;
	}
	.navbar-nav{
		margin:0!important;
		}	
		#menu-menu-topo .menu-item {
	    
	    height: 45px;
	}
		.navbar-brand.visible-xs-block{
			display: none!important;
		}
		#header .container #main-navigation{
			margin: -43px 0 27px;
			background-color: transparent;
			    float: right;


		}
		.legenda-slider{
	    margin: 0 10px;
	    width: initial;
	}
	#slider-1 .texto-slider {
	    width: 95%;
	    position: absolute;
	    margin: 5px 10px;
	    color: #fff;
	}
	#slider-1 .owl-controls {
	    position: absolute;
	    top: -34px;
	    border-radius: 10px;
	    padding: 0px 2px 0;
	    background: rgba(151, 151, 151, 0.53);
	height:24px;
	    
	}
	.slide-2 h2 {
	    position: absolute;
	    bottom: 17px;
	    left: 27px;
	    color: #fff;
	    font-size: 16px;
	    text-transform: uppercase;
	    font-weight: 200;
	}
	.comprar-slider {

	    margin-top: 5px;
	    font-size: 11px;
	    padding: 5px 5px;
	}
	#slider-1 .texto-slider h1 {
	    font-size: 20px;
	  
	}
	#slider-1 .texto-slide p{
		font-size: 10px
	}
	#slider-1 p{
		margin: 0 0 5px;
		font-size: 12px;
	}



	header .container{
		margin-bottom: 10px;
	}
	#slider-3 h4{
		font-size: 14px;
	}
	#slider-3 h3{
		font-size:16px;
	}
	#sidebar {
	    text-align: center;
	}
	#titulo-tax {
	    max-width: 300px;
	    margin: 0 auto;
	    padding-left: 13px;
	}
	#main-navigation li.menu-item a {
    	padding-left: 0;
}	

}
/*mobile*/
/*mobile*/
/*mobile*/
/*mobile*/
/*mobile*/
/*mobile*/
@media (max-width: 600px){
	.container .navbar-toggle {
 	    margin-top: 38px;
   		margin-bottom: 25px;
}
	.logo{
		float: left;
		z-index: 99999;
		position: relative;
	}
	 .woocommerce .coupon, .woocommerce-page.woocommerce-cart  .coupon, .woocommerce-page.woocommerce-cart  .coupon{
		text-align: left!important;
	}
	.woocommerce-cart .coupon input{
		float: none!important;
		clear: both;
		margin-top: 10px!important;
	}
	.woocommerce-cart.woocommerce-page #content table.cart td.actions {
		text-align: left!important;
	}

	.woocommerce-cart.woocommerce-page #content table.cart td.actions #coupon_code{
		width: 100%;
	}
	.carrinho-menu div.carrinho-cont {
    	padding: 15px 7px;
   		font-size: 10px;
	}
	.carrinho-valor{
		font-size: 13px;
	}


	.single-product .produto-home.produto{
		padding-left: 0;
		padding-right:0; 
	}
	.single-product .entry-summary .amount, .single-product .entry-summary span.amount, html .single-product .entry-summary p.price, .woocommerce-variation-price {
   		font-size: 26px!important;
   
	}
	html h1 {
    	font-size: 25px;
	}
	.botao-comprar {
 	   margin-left: 0;
	}
	#header .container #main-navigation{
		float: none;
	}
	#footer .sociais {
    	float: none;
    	text-align: center;
	}
	#cadastro-footer .wpcf7-text {
      margin-left: 0px;
	}
	#menu-menu-topo a{
		font-size:10px;
	}
	#slider-1 .owl-controls {
		height:20px;
	    width: 80%;

    
	}
	.owl-theme .owl-controls .owl-page span{
		width: 10px;
		height: 10px;
	}
	#menu-menu-categorias{
		display: none;
	}
	#top-navigation li a {
    	padding-left: 5px;
    	padding-right: 5px;
	}
	.legenda-slider {
  		padding: 19.5px 0;
   		font-size: 16px;
	    padding-left: 3%;
   		width: initial;
	    text-align: left;
	}
	

}
/*resoponsivo*/
/*resoponsivo*/
/*resoponsivo*/
/*resoponsivo*/
/*resoponsivo*/
